---
import ConfigCarrier from "@components/ConfigCarrier.astro";
import EffectsCanvas from "@components/misc/EffectsCanvas.astro";
import MusicPlayer from "@components/widget/MusicPlayer.svelte";
import { fontConfig } from "@configs/font";
import { musicPlayerConfig } from "@configs/music";
import { siteConfig } from "@/config";
import { BANNER_HEIGHT, BANNER_HEIGHT_EXTEND, BANNER_HEIGHT_HOME } from "../constants/constants";
import { pathsEqual, url } from "../utils/url-utils";
import Head from "./components/Head.astro";
import ThemeScript from "./components/ThemeScript.astro";
import "katex/dist/katex.css";
import "../styles/navbar.css";

interface Props {
	title?: string;
	description?: string;
	keywords?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	ogImage?: string;
}

let { title, description, keywords, lang, setOGTypeArticle, ogImage } = Astro.props;

// apply a class to the body element to decide the height of the banner
const isHomePage = pathsEqual(Astro.url.pathname, url("/"));
const enableBanner = siteConfig.banner.enable;

// Language handling
if (!lang) {
	lang = `${siteConfig.lang}`;
}
const siteLang = lang.replace("_", "-");

const bannerOffsetByPosition = {
	top: `${BANNER_HEIGHT_EXTEND}vh`,
	center: `${BANNER_HEIGHT_EXTEND / 2}vh`,
	bottom: "0",
};
const bannerOffset = bannerOffsetByPosition[siteConfig.banner.position || "center"];
---

<!DOCTYPE html>
<html lang={siteLang} class="bg-[var(--page-bg)] transition text-[14px] md:text-[16px]" data-overlayscrollbars-initialize>
    <head>
        <Head 
            title={title} 
            description={description} 
            keywords={keywords} 
            setOGTypeArticle={setOGTypeArticle} 
            ogImage={ogImage} 
        />
        <ThemeScript />
        <slot name="head"></slot>
    </head>
    <body class=" min-h-screen transition " class:list={[{ "is-home": isHomePage, "enable-banner": enableBanner }]}
          data-overlayscrollbars-initialize
    >
        <EffectsCanvas />
        <div id="reading-progress-bar"></div>
        <ConfigCarrier></ConfigCarrier>
        <slot />
        {musicPlayerConfig.enable && <MusicPlayer client:idle />}
    </body>
</html>

<style is:global define:vars={{
    bannerOffset,
    'banner-height-home': `${BANNER_HEIGHT_HOME}vh`,
    'banner-height': `${BANNER_HEIGHT}vh`,
}}>
@tailwind components;
@layer components {
    .enable-banner.is-home #banner-wrapper {
        @apply h-[var(--banner-height-home)] translate-y-[var(--banner-height-extend)]
    }
    .enable-banner #banner-wrapper {
        @apply h-[var(--banner-height-home)]
    }

    .enable-banner.is-home #banner {
        @apply h-[var(--banner-height-home)] translate-y-0
    }
    .enable-banner #banner {
        @apply h-[var(--banner-height-home)] translate-y-[var(--bannerOffset)]
    }

    .enable-banner.is-home #main-grid {
        @apply translate-y-[var(--banner-height-extend)];
    }

    .enable-banner #top-row {
        @apply h-[calc(var(--banner-height-home)_-_4.5rem)] transition-all duration-300
    }
    .enable-banner.is-home #sidebar-sticky {
        @apply top-[calc(1rem_-_var(--banner-height-extend))]
    }
    .navbar-hidden {
        @apply opacity-0 -translate-y-16
    }

    /* Water waves animation */
    .waves > .parallax use {
        animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
    }

    @keyframes wave {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
        100% {
            transform: translate3d(85px, 0, 0);
        }
    }
}
</style>

<style is:global set:html={`
${fontConfig.enable ? fontConfig.fonts.map((font) => `
    @font-face {
        font-family: '${font.name}';
        src: url('${font.src}') format('${font.type}');
        font-weight: ${font.weight};
        font-style: ${font.style};
        font-display: ${font.display};
    }
`).join('') : ''}
    body {
        font-family: ${fontConfig.family};
    }
`}></style>

<script>
    import { setupEventListeners } from "../utils/app-entry";
    setupEventListeners();
</script>